In [2]:
#load the bse dataset
import pandas as pd
import numpy as np
data = pd.read_csv('bse_data.csv')
print(data)

    number_siblings                       name  gender  age living_allowance  \
0                 1         Nakasujja Gertrude  female   33              NaN
1                 3      Arinda Asiimwe Atweta  female   23           50,000
2                 4        Ndjekornom Victoire    male   23           25,000
3                 0             KATURAMU EDGAR    male   27          500,000
4                 4          Abinsinguza Lasse    male   24          100,000
5                 4        Beingana Jim Junior    male   20           10,000
6                 6   Cyiza Ndoli Jean de Dieu    male   23           60,000
7                 8        MUSIIMENTA CISSYLYN  female   20          260,000
8                 2           Nakanwagu Vanesa  female   23          250,000
9                 9                Otim Ronald    male   25              NaN
10                1                  Levi Aine    male   24        1,000,000
11                1              NASAAZI TAKIA  female   23            2,000
12                5                      Alvin    male   23        2,500,000
13                3            MULINDWA YUSUF     male   22              NaN
14                2                     Hillal    male   32          150,000
15                9           mpairwe   lauben    male   26          760,000
16                4               Lutalo Allan    male   24          200,000
17                2                Efrata Aron  female   22          200,000
18                4                David Hope     male   22           35,000
19                1             ntegeka k pius    male   30          700,000
20                4            Yapyeko Rebecca  female   24          500,000
21                7      NKETAMUKAMA TARASISIO    male   22          600,000
22                3    Ampaire Stacey Nuwagaba  female   22          300,000
23                5            Ahaabwe Derrick    male   22          200,000
24                0           Ssentongo Henry     male   27              NaN
25                6                     Shadia  female   23           20,000
26                4                     Harlan    male   24          250,000
27                1              AMADILE MAJID    male   23              NaN
28                8                Nankya Elsa  female   23          120,000
29                2         Asiimire Patricia   female   22        1,000,000
30                2           Rwakasiisi Edwin    male   24          150,000
31                5            Ampumuza Aijuka  female   23          500,000
32                5         TUKWASIIBWE MARTIN    male   23          200,000
33                8       Olowo Omondi Philly     male   23              NaN
34                4  Kisembo Rodgers Bangirana    male   23          300,000
35                3           NIWAMANYA JAMES     male   29              NaN

    have_bf_gf                profession  daily_meals
0            1            Data Scientist            2
1            1  Machine Learning Enginer            1
2            0            Data Scientist            1
3            0  Machine Learning Enginer            2
4            1            Data Scientist            2
5            0            Data Scientist            3
6            0              Data Analyst            2
7            0  Machine Learning Enginer            3
8            1            Data Scientist            3
9            0            Data Scientist            2
10           0            Data Scientist            3
11           0              Data Analyst            1
12           1  Machine Learning Enginer            3
13           0            Data Scientist            3
14           0  Machine Learning Enginer            2
15           1  Machine Learning Enginer            3
16           1            Data Scientist            3
17           1              Data Analyst            2
18           0  Machine Learning Enginer            3
19           0            Data Scientist            3
20           0            Data Scientist            3
21           0  Machine Learning Enginer            2
22           0              Data Analyst            2
23           0            Data Scientist            2
24           0  Machine Learning Enginer            1
25           0            Data Scientist            2
26           0            Data Scientist            3
27           0              Data Analyst            2
28           1            Data Scientist            2
29           0            Data Scientist            3
30           1            Data Scientist            3
31           0            Data Scientist            2
32           0              Data Analyst            2
33           1            Data Scientist            2
34           0              Data Analyst            3
35           1  Machine Learning Enginer            1

In [3]:
#Data cleaning
#check for missing values again 
#import pandas as pd
print(data.isnull().sum())

number_siblings     0
name                0
gender              0
age                 0
living_allowance    7
have_bf_gf          0
profession          0
daily_meals         0
dtype: int64

In [4]:
x= data.isna().sum()
print(x)

number_siblings     0
name                0
gender              0
age                 0
living_allowance    7
have_bf_gf          0
profession          0
daily_meals         0
dtype: int64

In [5]:
import pandas as pd

# Read the CSV file
data = pd.read_csv('bse_data.csv')

# Remove commas and convert to numeric
data['living_allowance'] = data['living_allowance'].str.replace(',', '')
data['living_allowance'] = pd.to_numeric(data['living_allowance'], errors='coerce')

# Calculate the median of the living_allowance column
median_value = data['living_allowance'].median()

# Fill NaN values with the median
data['living_allowance'].fillna(median_value, inplace=True)

# Print the first 8 rows of the dataframe
print(data.head(8))

   number_siblings                      name  gender  age  living_allowance  \
0                1        Nakasujja Gertrude  female   33          200000.0
1                3     Arinda Asiimwe Atweta  female   23           50000.0
2                4       Ndjekornom Victoire    male   23           25000.0
3                0            KATURAMU EDGAR    male   27          500000.0
4                4         Abinsinguza Lasse    male   24          100000.0
5                4       Beingana Jim Junior    male   20           10000.0
6                6  Cyiza Ndoli Jean de Dieu    male   23           60000.0
7                8       MUSIIMENTA CISSYLYN  female   20          260000.0

   have_bf_gf                profession  daily_meals
0           1            Data Scientist            2
1           1  Machine Learning Enginer            1
2           0            Data Scientist            1
3           0  Machine Learning Enginer            2
4           1            Data Scientist            2
5           0            Data Scientist            3
6           0              Data Analyst            2
7           0  Machine Learning Enginer            3

C:\Users\Taras\AppData\Local\Temp\ipykernel_11832\1974480173.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['living_allowance'].fillna(median_value, inplace=True)

In [8]:
import matplotlib.pyplot as plt # type: ignore
# siblings

siblings_counts = data['number_siblings'].value_counts()
# Create a pie chart
# plt.figure(figsize=(9, 9))
plt.pie(siblings_counts, labels=siblings_counts.index, autopct='%1.1f%%', startangle=140)
plt.title('Distribution of Number of Siblings')
plt.axis('equal')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
import pandas as pd
import numpy as np
data=pd.read_csv('crop.csv')
print(data)

:

In [ ]:
#crop analysis
print(data.isnull().sum())

:

In [ ]:
#Summary statistics
#Explanatory data analysis
print(data.describe())

:

In [ ]:
#check for nul missing values
import seaborn as sns
sns.heatmap(data.isnull(),yticklabels=False,cbar=False,cmap='viridis')

:

In [ ]:
print(data['temperature'].value_counts())

:

In [ ]:

import matplotlib.pyplot as plt

sns.histplot(data['temperature'],color='pink',bins=30,kde=True)
plt.title('temperature distribution')
plt.show()

:

In [ ]:
#method 2
#N is the nitrogen
#k is the Potasium
#p 
sns.heatmap(data.isnull(),cmap='coolwarm')
plt.show()

:

In [ ]:
# Correlation, relationship between columns
c =data.label.astype('category')
targets = dict(enumerate(c.cat.categories))
data['target'] = c.cat.codes

y = data.target
X = data[['N', 'P', 'temperature','humidity','ph','rainfall']]

sns.heatmap(X.corr())
plt.title("Correlation")
plt.show()

:

In [ ]:
#Phosphorous level
sns.boxplot(y='label',x='ph',data=data, palette='plasma_r')
plt.title('phosphorous level')
plt.show()

:

In [ ]:
import pandas as pd
#Phosphorous level
sns.boxplot(x='label',y='ph',data=data, palette='plasma_r')
plt.title('phosphorous level')
plt.show()

:

In [ ]:
#Phosphorous level
sns.boxplot(x='label',y='ph',data=data[data['rainfall']>150])
plt.title('phosphorous level')
plt.show()

:

In [ ]:

sns.countplot(y='label',data=data)
plt.title('label distribution')
plt.show()

:

In [ ]:
#Data Visualization:Visualization helps to gain more insights from the data
import seaborn as sns
import matplotlib.pyplot as plt
#have bf gf by gender
sns.barplot(x='gender',y='have_bf_gf',data=data)

:

In [ ]:
data['living_allowance'] = data['living_allowance'].fillna(data['living_allowance'].mode())

print(data.head(5))

:

In [1]:
#Distribution of professional
print(data['profession'])

NameError: name 'data' is not defined